/*iphone 6*/
@media (max-width: 480px) {

  body.hunt_native{
    height:667px !important;
  }

  body.hunt_native .col-md-12{
   padding-right: 0px; 
   padding-left: 0px;
  }

  body.hunt_native #footer{
    display: hidden;
  }

  body.hunt_native #content{
    padding: 0;
  }

  body.hunt_native .single-post .tab-content{
    padding:0px;
  }

  body.hunt_native { 
    overflow: hidden;
  }

  body.hunt_native .btn-group-justified{
    position:fixed;
    bottom:5px;
    left:0px;
  }

  body.hunt_native .btn{
    height: 63px;
    z-index: 100;
    font-size: 2em;
    margin: 0px 0px 0px 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    position:fixed;
    border:none;
  }

  body.hunt_native .navbar-default .navbar-toggle{
    margin-right: 25px;
  }

}

/*iphone 5*/
@media (max-width: 320px) {


  body.hunt_native{
    height:568px;
  }

  body.hunt_native .col-md-12{
   padding-right: 0px; 
   padding-left: 0px;
  }

  body.hunt_native #footer{
    display: hidden;
  }

  body.hunt_native #content{
    padding: 0;
  }

  body.hunt_native .single-post .tab-content{
    padding:0px;
  }

  body.hunt_native { 
    overflow: hidden;
  }

  body.hunt_native .btn-group-justified{
    position:fixed;
    bottom:5px;
    left:0px;
  }

  body.hunt_native .btn{
    height: 78px;
    z-index: 100;
    font-size: 2em;
    margin-top: 0;
    position: fixed;
    width: 320px;
    bottom: 0px;
    left: 0px;
    padding-bottom: 30px;
    border:none;
  }

  body.hunt_native .navbar-default .navbar-toggle{
    margin-right: 25px;
  }

}



