 <h1>New User form</h1>
 <hr/>

 <form method='post' action='/users'>
  email:<br>
  <input type="text" name="email">
  <br>
  nickname:<br>
  <input type="text" name="nickname">
  <br>
  password:<br>
  <input type="password" name="password">
  <div>
    <input type="submit" value="Submit">
  </div>
</form>