<h1>Treasure Hunt</h1>
<h2>Hunts You have created:</h2>
<ul>
  <% @hunts.each do |hunt| %>
    <li><a href="/hunts/<%= hunt.id %>"><%="#{hunt.name} : #{hunt.description}" %></li>  </a>
  <% end %>
</ul>