 <h1>New hunt form</h1>
 <hr/>
 <form method='post' action='/hunts'>
  name:<br>
  <input type="text" name="name">
  <br>
  level:<br>
  <input type="text" name="level">
  <br>
  city:<br>
  <input type="text" name="city">
  <div>
  description:<br>
  <input type="text" name="description">
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
<h1>location1</h1>
 <hr/>
 <form method='post' action='/hunts'>
  name:<br>
  <input type="text" name="location1_name">
  <br>
  latitude:<br>
  <input type="text" name="location1_lat">
  <br>
  longitude:<br>
  <input type="text" name="location1_lon">
  <div>
  clue:<br>
  <input type="text" name="location1_clue">
  <div>
    <input type="submit" value="Submit">
  </div>
</form>

<h1>location2</h1>
  <hr/>
 <form method='post' action='/hunts'>
  name:<br>
  <input type="text" name="location2_name">
  <br>
  latitude:<br>
  <input type="text" name="location2_lat">
  <br>
  longitude:<br>
  <input type="text" name="location2_lon">
  <div>
  clue:<br>
  <input type="text" name="location2_clue">
  <div>
    <input type="submit" value="Submit">
  </div>
</form>

<h1>location3</h1>
 <hr/>
 <form method='post' action='/hunts'>
  name:<br>
  <input type="text" name="location3_name">
  <br>
  latitude:<br>
  <input type="text" name="location3_lat">
  <br>
  longitude:<br>
  <input type="text" name="location3_lon">
  <div>
  clue:<br>
  <input type="text" name="location3_clue">
  <div>
    <input type="submit" value="Submit">
  </div>
</form>