 <h1>New hunt form</h1>
 <hr/>
 <form method='post' action='/hunts'>
  name:<br>
  <input type="text" name="name">
  <br>
  level:<br>
  <input type="text" name="level">
  <br>
  city:<br>
  <input type="text" name="city">
  <div>
  description:<br>
  <input type="text" name="description">
  <div>
    <input type="submit" value="Submit">
  </div>
</form>