    <!-- begin:header -->
    <div id="header" class="header-slide">
      <div class="container">
        <div class="row">
          <div class="col-md-5">

          </div>
        </div>
      </div>
    </div>
    <!-- end:header -->

 <!-- begin:service -->
    <div id="service">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>YOUR ADVENUTRE AWAITS<small>Challenge. Rejuvenate. Grow.</small></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-container">
              <div class="service-icon">
                <a href="#"><i class="fa fa-check-circle"></i></a>
              </div>
              <div class="service-content">
                <h3>Choose your hunt</h3>
                <p>Pick from hundreds of hunts. Every hunt is crafted by for the community.</p>
              </div>
            </div>
          </div>
          <!-- break -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-container">
              <div class="service-icon">
                <a href="#"><i class="fa fa-map-marker"></i></a>
              </div>
              <div class="service-content">
                <h3>Get to the start</h3>
                <p>Every hunt has a starting point, this is where the magic begins.</p>
              </div>
            </div>
          </div>
          <!-- break -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-container">
              <div class="service-icon">
                <a href="#"><i class="fa fa-question-circle"></i></a>
              </div>
              <div class="service-content">
                <h3>Solve the clue</h3>
                <p>Make a guess when you think you have solved the clue.</p>
              </div>
            </div>
          </div>
          <!-- break -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-container">
              <div class="service-icon">
                <a href="#"><i class="fa fa-star-o"></i></a>
              </div>
              <div class="service-content">
                <h3>Get the Gold!</h3>
                <p>Once you have arrived at the final checkpoint, you win!</p>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <!-- end:service -->

    <!-- begin:content -->
    <div id="content">
      <div class="container">
        <!-- begin:latest -->
        <div class="row">
          <div class="col-md-12">
            <div class="heading-title">
              <h2>Newest Hunts</h2>
            </div>
          </div>
        </div>
        <div class="row">
              <% @hunts.limit(3).each do |hunt| %>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="property-container">
                    <div class="property-image">
                    <img src="https://www.paladinregistry.com/assets/icon-map-d9027152ea7aa05701d604aba74ef622.png">
                      <div class="property-price">
                        <h4><%= hunt.city %></h4>
                        <span>500 <span class="logo_r">Au</span>
                      </div>
                    </div>
                    <div class="property-features">
                      <span><i class="fa fa-plane"></i> 5 KM</span>
                      <span><i class="fa fa-map-marker"></i> 10 locations</span>
                      <span><i class="fa fa-trophy"></i> Medium</span>
                    </div>
                    <div class="property-content">
                      <h3><a href="/hunts/<%= hunt.id %>"><%= hunt.name %></a> <small><%= hunt.description %></small></h3> 
                    </div>  
                  </div>
                </div> 
              <% end %>
          </div>
          <!-- break -->  
        </div>
        <!-- end:latest -->
</div></div>
