<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>

<a href="/"><img src="http://icons.iconseeker.com/png/fullsize/jolly-roger-vol-2/treasure-map-1.png" height="50px"></a>
 <% if @current_user %>
  <h3 style="display: inline"><%=@current_user.email %>n</h3>
  <form style="display: inline" class='pull-right' method='post' action='/user_sessions'>
        <input name="_method" type="hidden" value="delete" />
        <input class="btn btn-default" type="submit" value="Logout">
  </form>
<% end %>
  <%= yield %>
</body>
</html>
