 <h1>Play!!!</h1>
 <hr/>
<%= @current_user.email  %>
<p>is now hunting: </p>
<p>Hunt name: <%= @hunt.name  %></p>  
<p>description: <%= @hunt.description  %></p>  
<p>clue: <%= @play_session.location.clue %></p>  

 <h1>Answer?</h1>
 <hr/>
 <form method='post' action='/hunts'>
  Latitude:<br>
  <input type="text" name="latitude">
  <br>
  Longitude:<br>
  <input type="text" name="longitude">
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
